body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.nft-card {
  margin: 100px auto;
  width: 350px;
  padding: 50px 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
}

img {
  width: 100%;
  margin-top: -25px;
  border-radius: 10px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.p-eth {
  color: hsl(178, 100%, 50%);
}
