body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.nft-card {
  margin: 100px auto;
  width: 350px;
  padding: 20px 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
}

.img-equilibrium {
  width: 100%;
  border-radius: 10px;
}

p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

a:hover {
  color: hsl(178, 100%, 50%);
}

.p-eth {
  color: hsl(178, 100%, 50%);
}

.p-div {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.img-avatar {
  width: 30%;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.p-img {
  margin-left: -75px;
}

.p-sec-div {
  display: flex;
  align-items: center;
}
